# Rust build
/target/

*.pdf

**/*.rs.bk
*.pdb
Cargo.lock

# Database
*.db
*.db-shm
*.db-wal

# Environment variables
.env

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Rust build
/target/

